[submodule "CppUnitTestFramework"]
	path = CppUnitTestFramework
	url = https://github.com/drleq/CppUnitTestFramework.git
[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
